
.personalInfo{
    /*display : inline-block;*/
}
.imageone{
    display : inline-block;
    height: 200px;
    width:  200px;
    border: 1px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
    margin: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}

.basicDescription{
    display : inline-block;
    text-align: justify;
    
    border-radius : 6px;
    padding: 10px;
}

.skills{
    display : inline-block;
    text-align: left;
    width: 300px;
    margin : 5px;
    border-radius : 6px;
}

.teamMatesFeedback{
    display : inline-block;
    text-align: justify;
}